<h1>Editing construction site</h1>

<%= render "form", construction_site: @construction_site %>

<br>

<div>
  <%= link_to "Show this construction site", @construction_site %> |
  <%= link_to "Back to construction sites", construction_sites_path %>
</div>
