<div id="<%= dom_id construction_material %>">
  <p>
    <strong>Amount:</strong>
    <%= construction_material.amount %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= construction_material.material_id %>
  </p>

  <p>
    <strong>Construction site:</strong>
    <%= construction_material.construction_site_id %>
  </p>

</div>
