<h1>New construction material</h1>

<%= render "form", construction_material: @construction_material %>

<br>

<div>
  <%= link_to "Back to construction materials", construction_materials_path %>
</div>
